# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.buildlog/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub/
.idea/
.vscode/
*.iml

# Build outputs
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
android/.gradle/
android/app/build/
android/build/

# Environment variables (API keys)
.env
.env.*

# Misc
*.lock
*.log
*.tmp
*.swp
.DS_Store
*.class
*.jar
*.keystore
*.apk
*.aab

# Generated plugin files
.flutter-plugins
.flutter-plugins-dependencies

# Crashlytics
firebase_crashlytics/
crashlytics-build.properties

# Others
pubspec.lock
